################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Szakdolgozat
/.vs/ProjectEvaluation
/SomfyAPI/bin/Debug
/SomfyAPI/obj
/AuthAPI/AuthAPI/bin/Debug/net9.0
/TuyaAPI/TuyaAPI/bin/Debug/net9.0
/AuthAPI/AuthAPI/obj
*.db-shm
*.db-wal
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/TuyaAPI.sourcelink.json
/TuyaAPI/TuyaAPI/obj
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/TuyaAPI.pdb
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/TuyaAPI.dll
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/TuyaAPI.AssemblyInfo.cs
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/refint/TuyaAPI.dll
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/TuyaAPI.AssemblyInfoInputs.cache
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/ref/TuyaAPI.dll
/TuyaAPI/TuyaAPI/bin/Debug/net9.0/TuyaAPI.pdb
/TuyaAPI/TuyaAPI/bin/Debug/net9.0/TuyaAPI.dll
/AuthAPI/bin/Debug/net9.0
/AuthAPI/obj
/TuyaAPI/bin/Debug/net9.0
/TuyaAPI/obj
/.gitignore
/AuthAPI/bin/Release/net9.0/win-x64
/SomfyAPI/bin/Release/net9.0/win-x64
/TuyaAPI/bin/Release/net9.0/win-x64
