################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Szakdolgozat
/.vs/ProjectEvaluation
/SomfyAPI/bin/Debug
/SomfyAPI/obj
/AuthAPI/AuthAPI/bin/Debug/net9.0
/TuyaAPI/TuyaAPI/bin/Debug/net9.0
/AuthAPI/AuthAPI/obj
*.db-shm
*.db-wal
/TuyaAPI/TuyaAPI/obj/Debug/net9.0/TuyaAPI.sourcelink.json
/TuyaAPI/TuyaAPI/obj
