@inherits LayoutComponentBase

<div class="page @GetThemeClass()">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        string language = await SecureStorage.GetAsync("selectedCulture");

        if (!string.IsNullOrEmpty(language))
        {
                GlobalizationService.SetCulture(language);
            await Task.Delay(100);
        }
        if (ThemeChangingService != null)
        {
            ThemeChangingService.OnThemeChanged += OnThemeChanged;
        }
    }
    private async void OnThemeChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

    private string GetThemeClass()
    {
        return ThemeChangingService?.CurrentTheme == AppTheme.Dark ? "bg-dark text-light" : "bg-light text-dark";
    }

    public void Dispose()
    {
        if (ThemeChangingService != null)
        {
            ThemeChangingService.OnThemeChanged -= OnThemeChanged;
        }
    }
    [Inject] private ThemeChangingService ThemeChangingService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] private GlobalizationService LocalizationService { get; set; }
}
