@inherits LayoutComponentBase

<div class="page bg-dark text-light">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        string language = await SecureStorage.GetAsync("selectedCulture");

        if (!string.IsNullOrEmpty(language))
        {
            LocalizationService.SetCulture(language);
            await Task.Delay(100);
        }
    }
    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private LocalizationService LocalizationService { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }
}
