@page "/register"
@layout MainLayout

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-lg rounded bg-dark text-white" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4">Create an Account</h2>
        <EditForm Model="registerModel" OnInvalidSubmit="Submit">
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" id="firstname" @bind="registerModel.FirstName" placeholder="Enter your first name" class="form-control bg-transparent text-white" />
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" id="lastname" @bind="registerModel.LastName" placeholder="Enter your last name" class="form-control bg-transparent text-white" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" @bind="registerModel.Email" placeholder="Enter your email" class="form-control bg-transparent text-white" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" @bind="registerModel.Password" placeholder="Enter your password" class="form-control bg-transparent text-white" />
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" id="confirmPassword" @bind="ConfirmPassword" placeholder="Confirm your password" class="form-control bg-transparent text-white" />
            </div>
            <button type="button" @onclick="HandleRegister" class="btn btn-primary w-100 shadow-sm">Register</button>
        </EditForm>

        <div class="text-center mt-4">
            <p class="mb-2">Already have an account?</p>
            <button @onclick="NavigateToLoginPage" class="btn btn-outline-secondary w-100">Login Here</button>
        </div>
    </div>
</div>

@code {
    private RegisterModel registerModel = new RegisterModel();
    private void Submit()
    {
        
    }
    private string ConfirmPassword { get; set; }

    private async Task HandleRegister()
    {
        if (registerModel.Password != ConfirmPassword)
        {
            await JSRuntime.InvokeVoidAsync("showCustomAlert", "Passwords do not match.");
            return;
        }

        await JSRuntime.InvokeVoidAsync("showCustomAlert", $"Registered successfully!");
    }

    private void NavigateToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }

    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
}
